<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo_ritu"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo_ritu"
        android:supportsRtl="true"
        android:theme="@style/Theme.PeriodTracker"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        tools:targetApi="31">

        <activity android:name="com.srzone.ritu.Activities.SplashScreen" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.srzone.ritu.Activities.EditPeriodActivity" android:exported="false"/>
        <activity android:name="com.srzone.ritu.Activities.DiaryNotesPreviewActivity" android:exported="false"/>
        <activity android:name="com.srzone.ritu.Activities.NotesActivity" android:exported="false"/>
        <activity android:name="com.srzone.ritu.Activities.InputActivity" />

        <activity android:theme="@style/DefaultFontTheme" android:name="com.srzone.ritu.Activities.GenericReadingActivity" android:exported="false"/>
        <activity android:name="com.srzone.ritu.Activities.MainActivity" android:exported="true"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>